.logo {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5rem;
    font-family: Parkinsans;
}

.logo a {
    color: var(--third-font-color);
    text-decoration: none;
}