@import url(css/theme.css);
@import url(css/form.css);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    font-family: var(--main-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--secondary-font);
}


/* clickable */
.clickable {
    cursor: pointer;
}


/* a */
a {
    color: var(--main-font-color);
}
a:hover {
    color: var(--third-font-color);
    text-decoration: none;
}


/* boxes */
.box-ok {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-font-color);
    background-color: var(--success-color);
    border: 1px solid var(--main-font-color);
    border-radius: 10%;
}
.box-warning {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-font-color);
    background-color: var(--warning-color);
    border: 1px solid var(--main-font-color);
    border-radius: 10%;
}


/* button */
.btn {
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;

    text-decoration: none;
    cursor: pointer;
    color: var(--secondary-font-color);
    background-color: var(--btn-bg-main-color);
}
.btn.btn-ok {
    background-color: var(--success-color);
}
.btn.btn-warning {
    background-color: var(--warning-color);
}
.btn.btn-neutral {
    background-color: var(--main-font-color);
}


/* section */
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    padding: 2rem;
    margin: 0 auto;
    margin-top: 3rem;
}
.section__title {
    font-size: 2rem;
}

/* section popup */
.section-popup {
    position: absolute;
    width: 40vw;
    
    background-color: var(--main-bg-color);
}

.section-popup__close {
    position: absolute; 
    top: 2rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;
}


/* form */
.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 2rem;
    border: 1px solid var(--main-font-color);
    border-radius: 1rem;

    color: var(--main-font-color);
    box-shadow: 0 0 0.7rem var(--main-font-color);
}

.form__title {
    font-weight: bold;
    align-self: center;
}

.form__group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.form__group--ok .label {
    color: var(--success-color);
}
.form__group--error .label {
    color: var(--warning-color);
}

.form__errors-group {
    margin-left: 1rem;
    font-size: 0.8rem;
    list-style-type: '-';
    color: var(--warning-color);
}

.label {
    display: block;

    text-decoration: underline;
    text-underline-offset: 0.3rem;
    font-weight: bolder;
    
    margin-left: 0.3rem;
}

.input {
    padding: 0.5rem;
    outline-color: var(--btn-bg-main-color);

    border: 1px solid var(--main-font-color);
    border-radius: 0.5rem;
}
.input[type="file"] {
    border: 0;
    border-radius: 0;
}

.textarea {
    width: 100%;
    height: 40rem;
}


/* Widget with state */
@keyframes loading {
    0% {
        transform: rotate(0deg);
        gap: 0;
    }
    50% {
        row-gap: 20%;
        column-gap: 20%;
    }
    100% {
        transform: rotate(360deg);
        gap: 0;
    }
}

.widget-loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: var(--btn-bg-main-color);
    font-size: 1.5rem;
}
.widget-loading {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    animation: loading 1s linear infinite;
}
.widget-loading>div {
    width: 100%;
    height: 100%;
    background-color: var(--btn-bg-main-color);
}
.widget-loading>div:nth-child(1), .widget-loading>div:nth-child(4) {
    border-radius: 0 50% 0 50%;
}
.widget-loading>div:nth-child(2), .widget-loading>div:nth-child(3) {
    border-radius: 50% 0 50% 0;
}

.widget-error {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--warning-color)
}


/* card */
.card-group {
    display: grid;
    justify-content: center;
    width: 100%;

    grid-auto-rows: 1fr;
}

.card {
    display: flex;
    flex-direction: column;

    gap: 1rem;

    padding: 1rem;
    border: 1px solid var(--main-font-color);
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem var(--main-font-color);
}

.card__title {
    text-align: center;
}

.card__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
    border-top: 1px solid var(--main-font-color);
}


/* carousel */
.carousel {
    width: 100%;
    
    overflow: scroll;
}
.carousel>ul {
    width: fit-content;
    display: flex;
    gap: 1rem;
    list-style-type: none;
}


/* pagination */
.pagination {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    list-style-type: none;
}

/* avatar image */
.avatar {
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

.avatar-small {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}