html {
    --first-color: #FFFFFF;
    --second-color: #5465FF;
    --third-color: #FF0035;
    
    --forth-color: #483C46;
    --fifth-color: #16C172;

    --first-font: "Open Sans";
    --second-font: "Parkinsans";
}