.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.5rem 2rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid var(--forth-color);
}
.header>* {
    flex-grow: 1;
    flex-basis: 0;
}

.header__navigation ul {
    list-style: none;

    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.header__navigation li {
    padding: 0.25rem;
}

.header .logo {
    border-left: 1px solid var(--forth-color);
    border-right: 1px solid var(--forth-color);
}

.header__profile {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}
.header__profile:hover {
    border: 1px solid var(--fifth-color);
}
.header__profile img {
    cursor: pointer;
}